<nav>
  <ul>
    <li>
      <button id="demo_socket_connect">connect</button>
    </li>
    <li>
      <button id="demo_socket_execute" disabled>execute</button>
      </li>
  </ul>
</nav>

<dl>
  <dt>statement</dt>
  <dd><input type="text" id="demo_socket_statement"></dd>
  <dt>result</dt>
  <dd><ol id="demo_socket_result">not connected</ol></dd>
</dl>

<link href={RawwaterWeb.DemoSocket.base_mount_path()} id="demo_socket" />
